
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
}

.container {
  display: flex;
  gap: 100px;
  width: 100%;
}

.cadastro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.container-form{
  border-right: 1px solid #868fcf;  
  padding: 60px;
}

h1{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}

h2{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
}

th, td {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #a5abdc;
  color: #fff;
}


form {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
form input{
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px #000;
}

button{
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}

.conteudo{
  display: flex;
  flex-direction: column;
}

.sect{
  display: flex;
  flex-direction: row;
}

.botaos{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.botaos_imc, .botaos_tabela, .botaos_tabela_excluir {    
  padding: 8px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.botaos_tabela {
  background-color: #1d38e8;
  margin-right: 5px;
  transition: .8s;
}

.botaos_tabela_excluir, .botaos_imc {
  background-color: #ff2828; 
  transition: .8s;
}

.botaos_imc:hover, .botaos_tabela:hover, .botaos_tabela_excluir:hover {
  opacity: .8;
}

#post {
  cursor: pointer;
  background-color: #868fcf;
  color: white;
  border: none;
  margin-top: 15px;
  transition: .8s;
  font-weight: 700;
  font-size: 15px;
}

#post:hover{
  opacity: .8;
}


